@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aboreto";
  font-style: normal;
  font-display: swap;
  /*fallback font */
  src: url(/fonts/Aboreto-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  src: url(/fonts/Poppins-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: bold;
  font-display: swap;
  src: url(/fonts/Poppins-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-display: swap;
  src: url(/fonts/Poppins-Italic.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/Poppins-BoldItalic.woff2) format("woff2");
}

@layer base {
  ol {
    list-style-type: decimal;
  }

  input,
  select {
    @apply w-full rounded-sm border border-slate-600 px-4 py-2
  }
}

@layer components {
  .btn {
    @apply inline-block cursor-pointer bg-yellow-500 py-2 px-4 font-bold uppercase !text-black no-underline ring-offset-current transition-colors hover:bg-yellow-400;
  }
}